@page "/BasicMapper"

<PageTitle>Basic Mapper</PageTitle>

<p>For a basic mapper, all you need is a GenerateMapper and one or more Map&lt;TSource, TDestination&gt; attributes on a partial class.</p>

<p>Below is an example mapper that converts a User to a UserDto.</p>

<CodeBlock Language="CodeLanguage.CSharp" EnableLineNumbers="false" Code=@SingleMap />

<p>When the project is built, the mapper will generate a static Map method on UserMapper which will map Id, FirstName, MiddleName and LastName.</p>

<p>The remaining members cannot be mapped automatically because they differ in type and/or name, or do not exist on one of the classes.</p>

<p>Multiple Map attributes can be added to a single mapper class:</p>

<CodeBlock Language="CodeLanguage.CSharp" EnableLineNumbers="false" Code=@MultiMap />

@code
{

    const string SingleMap =
"""
[GenerateMapper]
[Map<User, UserDto>]
public partial class UserMapper;
""";

    const string MultiMap =
"""
[GenerateMapper]
[Map<User, UserDto>, Map<UserDto, User>]
public partial class UserMapper;
""";


}
