@page "/Benchmarks"

<PageTitle>Benchmarks</PageTitle>

<p>Many core features of AotObjectMapper are still missing so performance benchmarks may not be accurate, however each benchmark is fully functional.</p>

<img src="https://github.com/Liamth99/AotObjectMapper/blob/master/Benchmarks/MappingBenchmarks/BenchmarkSummary.png?raw=true" alt="Benchmark Summary">