@page "/Enums"

<PageTitle>Enums</PageTitle>

<p>By default, enums are mapped by field name and fall back to the zero value if no matching field is found.</p>

<p>Map enums by value instead:</p>

<CodeBlock Language="CodeLanguage.CSharp" EnableLineNumbers="false" Code="[GenerateMapper(options: MappingOptions.MapEnumsByValue)]" />

<p>Throw an exception when no matching enum value is found:</p>

<CodeBlock Language="CodeLanguage.CSharp" EnableLineNumbers="false" Code="[GenerateMapper(options: MappingOptions.ThrowExceptionOnUnmappedEnum)]" />

<p>note: this does nothing if MapEnumsByValue is set.</p>
