@page "/"

<PageTitle>Home</PageTitle>

<a href="https://www.nuget.org/packages/AotObjectMapper.Mapper/" target="_blank" >
    <img src="https://img.shields.io/nuget/v/AotObjectMapper.Mapper.svg" alt="NuGet Version shield" />
</a>
<a href="https://www.nuget.org/packages/AotObjectMapper.Mapper/" target="_blank" >
    <img src="https://img.shields.io/nuget/dt/AotObjectMapper.Mapper.svg" alt="NuGet Downloads shield" />
</a>
<a href="https://github.com/Liamth99/AotObjectMapper/releases" target="_blank" >
    <img src="https://img.shields.io/github/v/release/Liamth99/AotObjectMapper" alt="GitHub Release shield" />
</a>
<a href="https://github.com/Liamth99/AotObjectMapper/blob/master/LICENSE" target="_blank" >
    <img src="https://img.shields.io/github/license/Liamth99/AotObjectMapper" alt="License shield" />
</a>

<p>AotObjectMapper is a C# Roslyn source generator for compile-time object mapping.</p>

<p>This project was created primarily as a personal learning exercise and proof of concept. And may not be suitable for production use until v1.0.0</p>

<p>The main goals of this project are:</p>

<ul>
    <li>Gaining hands-on experience with Roslyn incremental source generators</li>
    <li>Designing an AOT- and trimming-friendly alternative to reflection-based mappers</li>
    <li>Providing feature parity with mature mapping libraries such as AutoMapper or Mapster</li>
    <li>Exploring compile-time code generation, diagnostics, and analyzers</li>
    <li>Experimenting with API design and developer experience in attribute driven tooling</li>
    <li>Handling complex mapping scenarios such as recursion, reference preservation, enum strategies, and custom member mappings</li>
</ul>