@page "/IConvertableMembers"

<PageTitle>IConvertable Members</PageTitle>

<p>Any source member that implements IConvertible and can convert to a destination member with the same name can be mapped automatically.</p>

<p>Add default format providers with UseFormatProvider, or specify providers for specific conversions using UseFormatProvider&lt;TSource, TDestination&gt;.</p>

<Markdown>
```csharp
[GenerateMapper(options: MappingOptions.AllowIConvertable)]
public partial class MapperClass
{
    // Default
    [UseFormatProvider]
    private static IFormatProvider Default =&gt; CultureInfo.CurrentCulture;

    // int &lt;-&gt; string only
    [UseFormatProvider&lt;int, string&gt;]
    [UseFormatProvider&lt;string, int&gt;]
    private static IFormatProvider IntStringFormat =&gt; CultureInfo.InvariantCulture;
}
```
</Markdown>
