@page "/Installation"

<PageTitle>Installation</PageTitle>

<p>AotObjectMapper is distributed as a <a href="https://www.nuget.org/packages/AotObjectMapper/" target="_blank">NuGet package</a>.</p>

<h1>Via .NET CLI</h1>

<Markdown>
    ```shell
    dotnet add package AotObjectMapper
    ```
</Markdown>

<h1>Via Visual Studio</h1>

<ol>
    <li>Right-click your project → Manage NuGet Packages</li>
    <li>Search for AotObjectMapper</li>
    <li>Install the latest version</li>
</ol>

<p>Both methods will automatically add `AotObjectMapper.Abstractions` and `AotObjectMapper.Analyzers`.</p>

@code {

}