@page "/MapMethodName"

<PageTitle>Map Method Name</PageTitle>

<p>Map methods are named Map by default but can be overridden as shown below.</p>

<Markdown>
```csharp
[GenerateMapper]
[Map&lt;User, UserDto&gt;(methodName: "MapUser")]
public partial class UserMapper;
```
</Markdown>