@page "/ReferencePreservation"

<PageTitle>Reference Preservation</PageTitle>

<p>Circular references can cause infinite mapping loops. Enabling PreserveReferences prevents this and ensures the same object is not mapped multiple times.</p>

<Markdown>
```csharp

public class Parent
{
    public Child Child { get; set; }
}

public class Child
{
    public Parent Parent { get; set; }
}

[GenerateMapper(MappingOptions.PreserveReferences)]
[Map&lt;Parent, ParentDto&gt;]
[UseMap&lt;ChildMapper, Child, ChildDto&gt;]
public partial class ParentMapper;

[GenerateMapper(MappingOptions.PreserveReferences)]
[Map&lt;Child, ChildDto&gt;]
[UseMap&lt;ParentMapper, Parent, ParentDto&gt;]
public partial class ChildMapper;
```
</Markdown>