@page "/Usage"

<PageTitle>Usage</PageTitle>

<h1>Class definitions</h1>

<Markdown>
```csharp
class User
{
    public required Guid           Id          { get; set; }
    public required string         FirstName   { get; set; }
    public          string?        MiddleName  { get; set; }
    public required string         LastName    { get; set; }
    public required DateTimeOffset DateOfBirth { get; set; }
    public required string         Secret      { get; set; }
}

public class UserDto
{
    public Guid     Id           { get; set; }
    public string   FirstName    { get; set; } = String.Empty;
    public string?  MiddleName   { get; set; }
    public string   LastName     { get; set; } = String.Empty;
    public int      DayOfBirth   { get; set; }
    public int      MonthOfBirth { get; set; }
    public int      YearOfBirth  { get; set; }
    public TimeOnly TimeOfBirth  { get; set; }
}
```
</Markdown>

<ol>
@foreach (var navItem in MainLayout.NavItems.Where(x => x.ParentId is "3" or "7" && x.Href is not null).Skip(1))
{
    <li>
        <a href="@navItem.Href">
            @navItem.Text
        </a>
    </li>
}
</ol>